table .tr-description td {
    border-top: none !important;
}
.second td {
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

table {
    text-align: center;
}

.wide_IncomePage {

    width: 1400px;
    text-align: center;
    margin-top: 5%;
}

.sizeStartDate_IncomePage {
    min-width: 120px;
}

.b9_IncomePage {
    text-align: right!important;
}
.sizeDes_IncomePage {
    max-width: 100px;
}