.second td {
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

table {
    text-align: center;
}
.wide_ExpensesPage {

    width: 1400px;
    text-align: center;
    margin-top: 5%;
}

.sizeStartDate_ExpensesPage{
    min-width: 120px;
}

.b9_IExpensesPage {
    text-align: right!important;
}
.sizeDes_ExpensesPage {
    max-width: 100px;
}